In [1]:
import pandas
import sklearn.model_selection

In [2]:
df = pandas.read_csv('IMDB-Dataset-clean-reduced.csv')
df.head(10)

                                              review sentiment
0  one review mention watch oz episod hook right ...  positive
1  wonder littl product film techniqu veri unassu...  positive
2  thought wonder way spend time hot summer weeke...  positive
3  basic famili littl boy jake think zombi closet...  negative
4  mattei love time money visual stun film watch ...  positive
5  probabl time favorit movi stori selfless sacri...  positive
6  sure would like see resurrect date seahunt ser...  positive
7  show amaz fresh innov idea first air first yea...  negative
8  encourag posit comment film look forward watch...  negative
9  like origin gut wrench laughter like movi youn...  positive

In [3]:
df_train, df_nontrain = sklearn.model_selection.train_test_split(df, train_size=0.8, shuffle=True, random_state=1337)
df_valid, df_test = sklearn.model_selection.train_test_split(df_nontrain, train_size=0.5, shuffle=False, random_state=1337)

In [4]:
df_train.to_csv("IMDB-Dataset-training.csv", index=False)
df_train.head(10)

                                                  review sentiment
8651   love paul mccartney greatest time could not ho...  positive
20341  steven seagal back third film releas year cour...  negative
21150  movi start brisk slow moment middl general mov...  positive
49685  alway love old movi one top ten favorit charm ...  positive
11647  guy ritchi nobl effort beat knock rape kick ar...  negative
32650  one big best jack hulbert singl role split two...  positive
34012  pat obrien best role ever notr dame footbal co...  positive
34984  rent film girlfriend away hope see serious mil...  negative
18146  opinion flatley ruin first show ridicul ego di...  positive
15774  wonder one best music ever three busbi berk nu...  positive

In [5]:
df_valid.to_csv("IMDB-Dataset-validation.csv", index=False)
df_valid.head(10)

                                                  review sentiment
12290  mikio narus examin live three idl constant com...  positive
31474  outer limit brilliant show part leav veri stro...  positive
5509   fortun attend london premier film not fan brit...  positive
38764  find young cougar need help young cat soon tak...  positive
24521  read comment film great dalai lama read book u...  negative
24874  man disappoint adam arkin whini ross geller fr...  negative
16050  fantast everyth score final credit role movi m...  positive
29105  confess fell cynic trap believ australian coul...  positive
3282   style substanc style cell intern version seria...  positive
28059  ray interest part technic veri well made ray o...  positive

In [6]:
df_test.to_csv("IMDB-Dataset-testing.csv", index=False)
df_test.head(10)

                                                  review sentiment
4372   cartoon strang stori actual littl depth emot c...  positive
39555  well execut old veri dark hous horror good set...  positive
5055   never seen incred act job motion pictur saw da...  positive
20744  serious film black revolutionari not realli ac...  negative
20295  seven seem like replay french connect releas t...  positive
30830  film director john ford writer lamar trotti te...  positive
32949  film deriv long run itv sitcom name sitcom las...  negative
6885   say read herbert book love lynch movi version ...  negative
34385  watch film along everi adapt could get hand in...  negative
47707  falcon snowman true stori two colleg age rich ...  positive